<?xml version="1.0" encoding="UTF-8"?>
<mapper nameSpace="com.zz.pail.core.mapper.UserMapper">
    <select id="getUserById" resultType ="com.zz.pail.bean.User">
        select * from user where id = ?
    </select>

    <insert id="insert" paramType ="com.zz.pail.bean.User">
        insert into user  (username,password) values (?,?)
    </insert>
</mapper>